<launch>
  <!-- Map path -->
  <arg name="map_file" default="$(find navigation_dual)/maps/map.yaml"/>

  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

  <!-- AMCL -->
  <include file="$(find navigation_dual)/launch/amcl.launch"/>

  <!-- Move_base -->
  <include file="$(find navigation_dual)/launch/move_base.launch"/>

  <!-- cmd_publisher -->
  <node pkg="navigation_dual" type="cmd_publisher.py" name="cmd_publisher"/>

  <!-- run RViz node (visualization) -->
  <node pkg="rviz" type="rviz" name="rviz" required="true" args="-d $(find navigation_dual)/rviz/navigation.rviz">
  </node>

</launch>